---
import { cn } from "@/lib/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  /** Offset even cards vertically for visual interest */
  stagger?: boolean;
}

const { stagger = false, class: className, ...attrs } = Astro.props;
---

<div
  class={cn(
    "grid grid-cols-1 gap-4 my-4 sm:grid-cols-2 [&>*]:my-0",
    stagger && "sm:[&>*:nth-child(even)]:translate-y-4",
    className,
  )}
  {...attrs}
>
  <slot />
</div>
