---
import { docsConfig } from "../docs.config";
---

<footer class="border-t border-line py-4 mt-auto">
  <div class="mx-auto px-4 lg:px-6 text-center text-xs text-text-subtle/60">
    {docsConfig.footer}
  </div>
</footer>
