---
import { cn } from "@/lib/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  label: string;
}

const { label, class: className, ...attrs } = Astro.props;

if (!label) {
  throw new Error("Missing required `label` prop on `<TabItem>` component.");
}
---

<div data-tab-panel data-tab-label={label} role="tabpanel" class={cn(className)} {...attrs}>
  <slot />
</div>
